body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -1px;
}

main {
  padding: 36px;
}
.headerContainer {
  display: flex;
  align-items: center;
  background: linear-gradient(.25turn,#672280 0%, #A626D3 100%);
  color: #FFFFFF;
}

.headerContainer>p {
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 37px;
  font-size: 12px;
}

.headerContainer>h1 {
  font-size: 21px;
  margin: 20px 12px;
}

#trollface {
  width: 32px;
  height: 26px;
  margin-left: 20px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.form--input {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  border: 1PX solid #d5d4d8;
}